<div class="flex flex-col items-center bg-indigo-400 rounded-lg p-4 justify-between mt-4">
  <h2 class="text-2xl font-bold">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class:"flex flex-col items-center gap-1" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name, class:"p-2" %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "bg-blue-800 text-white rounded-full p-2 border-none " %>
    </div>

    <div class="field">
      <%= f.label :email, class:"p-2" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-blue-800 text-white rounded-full p-2 border-none " %>
    </div> 

    <div class="field">
      <%= f.label :password, class:"p-2" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "bg-blue-800 text-white rounded-full p-2 border-none " %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class:"p-2" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "bg-blue-800 text-white rounded-full p-2 border-none " %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "bg-blue-800 hover:bg-blue-950 text-white text-primary px-4 py-2 text-xl rounded-lg" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
