<div class=" flex flex-col gap-4 w-full p-2 border-2 ">
  <%= link_to user_post_path(user, post) do %>


    <h2 class="font-bold"> <%= post.title %> </h2>
    <p> <%= post.text %> </p>

    <div class="flex gap-2 w-full justify-end">
      <p>Comments: <%= post.comments_counter %> </p>
      <p>Likes: <%= post.likes_counter %> </p>
    </div>
    

  <% end %>
</div>
