<div class="p-4 w-full flex flex-col items-center">
  <%= render "shared/user", user:@user %>

  <div class="py-7">

    <div class="w-full flex justify-end">
      <% if @user == current_user && can?(:create, Post) %>
        <%= link_to "New Post", new_user_post_path(@user), class: "text-white hover:bg-blue-950 bg-blue-500 rounded-full py-2 px-4" %>
      <% end %>
    </div>

    <% @posts.each do |post| %>
      <div class="flex flex-col py-7 gap-2">
      
        <%= render "shared/post", post: post, user: @user %>

        <div class="w-full flex gap-2">

          <% if can? :destroy, post %>
            <%= button_to "Delete", user_post_path(@user, post), method: :delete, class: "text-white p-2 hover:bg-red-800 bg-red-500 rounded-full" %>
          <% end %>

          <% if can? :create, Comment, Like %>
            <%= link_to "Add Comment", new_user_post_comment_path(@user, post), class: "text-white hover:bg-blue-950 bg-blue-500 rounded-full py-2 px-4 text-center" %>

            <%= form_with url: user_post_likes_path(post.author.id, post.id) do |form| %>
              <%= form.submit 'Like', class: "text-white hover:bg-blue-950 bg-blue-500 rounded-full py-2 px-4 text-center" %>
            <% end %>
          <% end %>

        </div>

        <% if post.last_five_comments.present? %>
          <% @comments = post.last_five_comments %>
          <%= render "shared/comment", comments: @comments %>
        <% end %>

      </div>

    <% end %>
    
  </div>

</div>
